:global {
    .ant-layout-sider-collapsed .anticon {
      font-size: 16px;
      margin-left: 8px;
    }

    .ant-layout-sider-collapsed .nav-text {
      display: none;
    }

    .ant-layout-sider-collapsed .ant-menu-submenu-vertical > .ant-menu-submenu-title:after {
      display: none;
    }
}

.MenuAchor {
    position: absolute;
    top: 0;
    right: -92px;
    z-index: 10000;
    width: 84px;
    padding: 8px;
    background-color: #fff;
}

.MenuItem {
    padding: 8px 0 8px 18px;
    line-height: 1;
}